.item-historico {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 8px;
    width: 320px;
    border-radius: 3px;
    margin-bottom: 3px;
}

.item-historico.rodagem {
    background-color: var(--vermelho);
}

.item-historico.abastecimento {
    background-color: var(--verde);
}

.nome-historico {
    font-weight: bold;
    color:var(--branco);
    width: 100px;
    text-align: center;
}

.valor {
    font-weight: bold;
    color:var(--branco);
    width: 100px;
    text-align: right;
}

.data {
    color:var(--branco);
    width: 120px;
    text-align: left;
}