.form-login {
    background-color: var(--branco);
    border-radius:8px;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px;
}

.form-login>.titulo {
    color:var(--laranja);
    font-weight: bold;
    margin-bottom: 40px;
}

.form-login>.input-container {
    margin-bottom: 10px;
    width: 300px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.form-login>.input-container>input {
    border-radius:8px;
    padding:10px;
    font-weight: bold;
    width: 220px;
}

.form-login>.input-container>label {
    color:var(--azul);
    margin-right: 5px;
    font-weight: bold;
}

.form-login #submit {
    margin: 20px 0;
}

.form-login #completar {
    margin-bottom: 50px;
}
/* #######  Retirar setinhas da lateral do input number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}